<!DOCTYPE html>
<html>
   <head>
      <title>Awards</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-2 bg-dark">
               <ul class="nav flex-column">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" href="/countries">Countries</a>
                     <ul style="list-style-type: lower-alpha; padding-bottom: 0;">
                        <li style="margin-left:2em"><a class="nav-link active" href="/squads">Squads</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/confederations">Confederations</a>
                 </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/players">Players</a>
                     <ul style="list-style-type: lower-alpha; padding-bottom: 0;">
                        <li style="margin-left:2em"><a class="nav-link active" href="/squad_members">Squad Members</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/awards">Awards</a>
                     <ul style="list-style-type: lower-alpha; padding-bottom: 0;">
                        <li style="margin-left:2em"><a class="nav-link active" href="/awards_won">Awards Won By Players</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/managers">Managers</a>
                  </li>
               </ul>
            </div>
            <div class="col-md-10">
               <h1>Awards</h1>
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Award ID</th>
                        <th>Award Name</th>
                        <th>Award Description</th>
                        <th>Year Introduced</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for award in awards%}
                     <tr>
                        <td>{{ award.award_id }}</td>
                        <td>{{ award.award_name }}</td>
                        <td>{{ award.award_description }}</td>
                        <td>{{ award.year_introduced }}</td>
                    </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   </body>
</html>