<!DOCTYPE html>
<html>
   <head>
      <title>Managers</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-2 bg-dark">
               <ul class="nav flex-column">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" href="/countries">Countries</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/confederations">Confederations</a>
                 </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/players">Players</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/awards">Awards</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/managers">Managers</a>
                  </li>
               </ul>
            </div>
            <div class="col-md-10">
               <h1>Managers</h1>
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Manager ID</th>
                        <th>GIven Name</th>
                        <th>Family Name</th>
                        
                        <!-- <th>Region Name</th>
                        <th>Confederation ID</th> -->
                        <!-- <th>Country Wiki</th> -->
                     </tr>
                  </thead>
                  <tbody>
                     {% for manager in managers%}
                     <tr>
                        <td>{{ manager.manager_id }}</td>
                        <td><a href="{{ manager.manager_wiki }}" target="_blank">{{ manager.manager_given_name }}</a></td>
                        <td><a href="{{ manager.manager_wiki }}" target="_blank">{{ manager.manager_family_name }}</a></td>
                    </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   </body>
</html>